{% block fast_order_form_inputs_row %}

    <div data-fast-order-product class="fast-order-form-inputs-row row align-items-start">

        {% block fast_order_form_inputs_row_number_field %}
            <div class="fast-order-form-inputs-row-number-field col-7" data-fast-order-search >

                <input type="text"
                       name="productData[{{ fastOrderProductId }}][productNumber]"
                       placeholder="{{'elio_fast_order.form.fieldPlaceholderInColLeft' |trans }}"
                       required="required"
                       class="fast-order-form-product-number-field form-control"
                       autocomplete="off"
                >
                <div class="fast-order-search-result"></div>

            </div>
        {% endblock %}

        {% block fast_order_form_inputs_row_select_quantity %}

            <div class="fast-order-form-inputs-row-select-quantity col-5">
                    <select class="custom-select fast-order-form-product-quantity-field"
                            name="productData[{{ fastOrderProductId }}][productQuantity]"
                            required="required"
                    >

                        {% for i in range(1, config('core.cart.maxQuantity')) %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}

                    </select>
            </div>

        {% endblock %}

    </div>

{% endblock %}