{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_main %}

    {% block fast_order_form_container %}
        <div data-fast-order class="fast-order-form-container d-flex justify-content-center">
            <div class="card col-8">

                {% block base_flashbags %}
                    {{ parent() }}
                {% endblock %}

                {% block fast_order_form_header %}
                    <div class="card-header fast-order-card-header">

                        {% block fast_order_form_header_menu_buttons %}
                            <div class="card-group">
                                {% block fast_order_form_header_menu_button_enter_articles %}
                                    <button class="fast-order-form-header-menu-button-enter-articles btn header-actions-btn" type="button" data-offcanvas-account-menu="true">
                                        {% sw_icon 'paper-pencil' style{
                                            'pack':'default'
                                        } %}
                                        {{ 'elio_fast_order.form.headerButtonEnterArticles'|trans }}
                                    </button>
                                {% endblock %}
                            </div>
                        {% endblock %}

                        {% block fast_order_form_description %}
                            <p class="card-text fast-order-form-description">
                                {{ 'elio_fast_order.form.description'|trans }}
                            </p>
                        {% endblock %}

                    </div>
                {% endblock %}

                {% block fast_order_form_body %}
                    <div class="fast-order-form-body card-body">
                        <div class="container">
                            {% block fast_order_form_titles %}
                                <div class="row align-items-start">
                                    <div class="col-7 fast-order-col-left">
                                        <h1 class="card-title">
                                            {{ 'elio_fast_order.form.titleInColLeft'|trans }}
                                        </h1>
                                    </div>

                                    <div class="col-5 fast-order-col-right">
                                        <h1 class="card-title">
                                            {{ 'elio_fast_order.form.titleInColRight'|trans }}
                                        </h1>
                                    </div>
                                </div>
                            {% endblock %}

                            {% block fast_order_form %}

                                <form action="{{ path('storefront.fast-order.add-to-card') }}"
                                      method="post"
                                      data-form-csrf-handler="true" >

                                    {% block fast_order_form_input_fields %}

                                        {% set countFormFields = config('ElioFastOrder.config.countFormFields') %}
                                        {% for i in 0..countFormFields - 1 %}

                                            {% sw_include '@ElioFastOrder/storefront/form/fast-order-form-inputs-row.html.twig'
                                                with{ fastOrderProductId:i }
                                            %}

                                            {% if i == 0 %}

                                                {% block fast_order_form_main_product_amount %}
                                                    <div class="row" style="padding: .3rem 0;">
                                                        <div class="col-7 fast-order-col-left">
                                                            <h6>
                                                                {{ 'elio_fast_order.form.subtitleMainProduct'|trans }}
                                                            </h6>
                                                        </div>

                                                        <div class="col-5 fast-order-col-right d-flex justify-content-end ">
                                                            <h4 class="fast-order-main-product-total-price">
                                                                {% sw_include '@ElioFastOrder/storefront/form/fast-order-form-calculated-price.html.twig' %}
                                                            </h4>
                                                        </div>
                                                    </div>
                                                {% endblock %}

                                            {% endif %}

                                        {% endfor %}

                                    {% endblock %}

                                    {% block fast_order_total_amount %}

                                        <div class="row d-flex align-content-end justify-content-end">
                                            <p class="mr-2 mb-0">{{ 'elio_fast_order.form.totalAmount'|trans }}</p>
                                            <h4 class="fast-order-total-amount mb-0">
                                                {% sw_include '@ElioFastOrder/storefront/form/fast-order-form-calculated-price.html.twig' %}
                                            </h4>
                                        </div>

                                    {% endblock %}

                                    {% block fast_order_submit_button %}

                                        <div class="row align-items-start fast-order-input-submit">
                                            <button class="btn btn-primary" type="submit" >{{ 'elio_fast_order.form.submitTitle'|trans }}</button>
                                        </div>

                                    {% endblock %}

                                    {{ sw_csrf('storefront.fast-order.add-to-card') }}

                                </form>

                            {% endblock %}
                        </div>
                    </div>
                {% endblock %}

            </div>
        </div>
    {% endblock %}

{% endblock %}