{# @var product \Shopware\Core\Content\Product\SalesChannel\SalesChannelProductEntity #}

{% block fast_order_search_field %}
    <div class="row">
        <div class="col-12 order-2 col-sm order-sm-1 header-search-col">
            <div class="row">
                <div class="col-sm-auto d-none d-sm-block d-lg-none">
                    {% block layout_header_navigation_toggle_tablet %}
                        <div class="nav-main-toggle">
                            {% block layout_header_navigation_toggle_tablet_button %}
                                <button class="btn nav-main-toggle-btn header-actions-btn"
                                        type="button"
                                        data-offcanvas-menu="true"
                                        aria-label="{{ "general.menuLink"|trans|striptags }}">
                                    {% block layout_header_navigation_toggle_tablet_button_icon %}
                                        {% sw_icon 'plus' %}
                                    {% endblock %}
                                </button>
                            {% endblock %}
                        </div>
                    {% endblock %}
                </div>
                <div class="col">
                    <div class="collapse"
                         id="searchCollapse">
                        <div class="header-search">
                            <form onsubmit="return false;"
                                  data-search-form="true"
                                  data-url="{{ path('frontend.fast-order.suggest') }}?search="
                                  class="header-search-form">
                                {% block layout_header_search_input_group %}
                                    <div class="input-group">
                                        {% block layout_header_search_input %}
                                            <input type="search"
                                                   name="search"
                                                   class="form-control"
                                                   autocomplete="off"
                                                   autocapitalize="off"
                                                   placeholder="{{ "header.searchPlaceholder"|trans|striptags }}"
                                                   aria-label="{{ "header.searchPlaceholder"|trans|striptags }}"
                                                   value="{{ page.searchTerm }}"
                                                   id="{{ product.id }}"
                                            >
                                        {% endblock %}

                                        {% block layout_header_search_button %}
                                            <div class="input-group-append">
                                                <button type="submit"
                                                        class="btn header-search-btn"
                                                        hidden
                                                >
                                                </button>
                                            </div>
                                        {% endblock %}
                                    </div>
                                {% endblock %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

